<!DOCTYPE html>
<html lang='en'>
<!--------------------------------------------------------------------------------------------------------------------
  /$$$$$$  /$$                           /$$      /$$                      /$$$$$$   /$$$$$$          /$$ /$$
 /$$__  $$| $$                          | $$  /$ | $$                     /$$__  $$ /$$__  $$        | $$|__/
| $$  \ $$| $$  /$$$$$$  /$$   /$$      | $$ /$$$| $$  /$$$$$$   /$$$$$$ | $$  \__/| $$  \__//$$$$$$ | $$ /$$
| $$$$$$$$| $$ /$$__  $$|  $$ /$$/      | $$/$$ $$ $$ /$$__  $$ /$$__  $$| $$$$    | $$$$   /$$__  $$| $$| $$
| $$__  $$| $$| $$$$$$$$ \  $$$$/       | $$$$_  $$$$| $$$$$$$$| $$  \__/| $$_/    | $$_/  | $$$$$$$$| $$| $$
| $$  | $$| $$| $$_____/  >$$  $$       | $$$/ \  $$$| $$_____/| $$      | $$      | $$    | $$_____/| $$| $$
| $$  | $$| $$|  $$$$$$$ /$$/\  $$      | $$/   \  $$|  $$$$$$$| $$      | $$      | $$    |  $$$$$$$| $$| $$
|__/  |__/|__/ \_______/|__/  \__/      |__/     \__/ \_______/|__/      |__/      |__/     \_______/|__/|__/

If you want to see how this Application was build check out my public repository on GitHub:
https://github.com/awerffeli/cvgen
--------------------------------------------------------------------------------------------------------------------->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
