header
  text-align: center
  margin-top: 40px

  +media('>phablet')
    margin-top: 70px

  img
    display: inline-block
    margin-bottom: 0

  h1
    margin-bottom: 8px

h2.header-blue
  color: $blue
  font-size: 20px
  line-height: 24px

+media('print')
  header:before
    content: '(This is extract of my profile found at alesrosina.com)'
    margin-bottom: 20px
    font-size: $small-font-size
    line-height: $small-line-height
    display: block
